#CLAMAV_ENABLED="yes"
#COLLABORA_ENABLED="no"
#FULLTEXTSEARCH_ENABLED="no"
#IMAGINARY_ENABLED="yes"
#ONLYOFFICE_ENABLED="no"
#TALK_ENABLED="no"
#TALK_RECORDING_ENABLED="no"
#WHITEBOARD_ENABLED="no"
#
#TIMEZONE=Europe/Berlin
#
#APACHE_IP_BINDING=0.0.0.0
#APACHE_MAX_SIZE=17179869184
#APACHE_PORT=1080
#COLLABORA_DICTIONARIES="de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru"
#COLLABORA_SECCOMP_POLICY=--o:security.seccomp=true
#INSTALL_LATEST_MAJOR=no
#NEXTCLOUD_ADDITIONAL_APKS=imagemagick
#NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=imagick
#NEXTCLOUD_DATADIR=/var/data/ncatomic/nc-aio/nc-files/
#NEXTCLOUD_MAX_TIME=3600
#NEXTCLOUD_MEMORY_LIMIT=512M
#NEXTCLOUD_MOUNT=/var/data/ncatomic/nc-aio/mnt/
#NEXTCLOUD_STARTUP_APPS="deck twofactor_totp tasks calendar contacts notes"
#NEXTCLOUD_TRUSTED_CACERTS_DIR=/etc/ncatomic/nc-aio/ca-certificates
#NEXTCLOUD_UPLOAD_LIMIT=16G
#REMOVE_DISABLED_APPS=yes
#TALK_PORT=3478
#UPDATE_NEXTCLOUD_APPS="no"
