{
	admin unix//run/caddy/admin.sock {
		origins localhost 127.0.0.1
	}
	persist_config off
}

localhost:443, nextcloudatomic.local:443, :443 {
    bind 0.0.0.0
    tls internal {
        on_demand
    }

    reverse_proxy * {
        to 127.0.0.1:3000
    }
}

