[Unit]
Description=Caddy
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/touch /run/caddy/admin.sock
ExecStartPre=/usr/bin/chmod 0660 /run/caddy/admin.sock
Environment=HOME=$CONFIGURATION_DIRECTORY
#RootImage=/var/lib/portables/base.raw
#ExtensionImages=/var/lib/portables/nca-caddy-svc.raw
SupplementaryGroups=aio
StateDirectory=caddy
ConfigurationDirectory=caddy
ExecStartPre=/usr/bin/echo "$HOME"
ExecStart=/usr/bin/caddy run -c /usr/lib/ncatomic/caddy/Caddyfile
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=disconnected
ProtectSystem=strict
ProtectHome=read-only
KeyringMode=private
BindPaths=/run/caddy
ReadWritePaths=/run/caddy
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal
LogNamespace=ncatomic
BindPaths=/run
#TemporaryFileSystem=/run/
TemporaryFileSystem=/var
TemporaryFileSystem=/etc

[Install]
WantedBy=ncatomic.target