[Unit]
Description=Caddy
After=network.target network-online.target docker.service ncp-networking.service ncp-embedded-images.service
Requires=network-online.target docker.service ncp-networking.service

[Service]
Type=exec
NotifyAccess=all
ExecStartPre=/bin/bash -c '! test -f /etc/ncp/ncp.json || docker pull docker.io/caddy:2'
ExecStartPre=/usr/bin/mkdir -p /run/caddy
ExecStartPre=/usr/bin/touch /run/caddy/admin.sock
ExecStartPre=/usr/bin/chmod 0770 /run/caddy/admin.sock
ExecStartPre=/usr/bin/docker network create ncp-public
ExecStartPre=/usr/bin/docker create \
    -v ncp_caddy_data:/data \
    -v /run/caddy:/run/caddy \
    -v /etc/ncp/caddy/Caddyfile:/etc/caddy/Caddyfile:ro \
    --network ncp-public \
    --cap-add=NET_ADMIN \
    -p 443:443 -p 443:443/udp -p 80:80 \
    --name ncp-caddy \
    docker.io/caddy:2 \
    caddy run --environ -c /etc/caddy/Caddyfile
ExecStartPre=/usr/bin/docker network connect ncp-core ncp-caddy
ExecStart=/usr/bin/docker start --attach ncp-caddy
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
