[Unit]
Description=Nextcloud All-in-One
After=podman.service
After=ncp-activation.service

[Service]
Type=simple
EnvironmentFile=/etc/ncp/nextcloud-aio/config.env
WorkingDirectory=/etc/ncp/nextcloud-aio
ExecStart=docker compose up
ExecStop=docker compose down
Restart=on-failure
RestartSec=30