[Unit]
Description=Unlock Nextcloud Atomic from Web
PartOf=nca-unlock.service
ConditionCredential=ncatomic.aio.nc_password
ConditionCredential=ncatomic.aio.nc_domain
OnSuccess=nca-unlock.service

[Service]
Type=simple

ImportCredential=ncatomic.nextcloud.admin_password
ImportCredential=ncatomic.nextcloud.domain
#ExecStartPre=systemd-creds cat ncatomic.aio.nc_password
#ExecStartPre=systemd-creds cat ncatomic.aio.nc_domain
ExecStartPre=bash -e -o pipefail -c 'systemd-creds cat ncatomic.nextcloud.admin_password | systemd-creds encrypt - /etc/ncatomic/nc-aio/credentials/admin_password.txt'
ExecStartPre=bash -e -o pipefail -c 'systemd-creds cat ncatomic.nextcloud.domain | systemd-creds encrypt - /etc/ncatomic/nc-aio/credentials/domain.txt'

ExecStart=bash -c 'echo "Successfully unlocked from system credentials"'

LogNamespace=ncatomic

[Install]
WantedBy=ncatomic.target
