[Unit]
Description=Caching proxy for docker.io
ConditionPathIsMountPoint=/podman-cache
After=network-online.target
Before=nca-caddy.service nextcloud-all-in-one.service nca-unlock.service

[Service]
Type=notify

Environment=HEALTHCHECK=bash -euo pipefail -c "wget http://127.0.0.1:3128 -O - | grep 'docker caching proxy is working'"
CacheDirectory=ca
ExecStartPre=-/usr/bin/podman rm -f docker_registry_proxy
ExecStartPre=-/usr/bin/bash -c '/usr/bin/podman run\
 --rm --name docker_registry_proxy\
 --sdnotify=ignore\
 -p 127.0.0.1:3128:3128\
 -e ENABLE_MANIFEST_CACHE=true\
 -e AUTH_REGISTRIES=invalid\
 -v /podman-cache:/docker_mirror_cache\
 -v "$${CACHE_DIRECTORY?}":/ca\
 docker.io/rpardini/docker-registry-proxy:0.6.2'
 ExecStartPre=/usr/bin/bash -eu -c 'mkdir -p /usr/local/share/ca-certificates/; /usr/bin/cp "$${CACHE_DIRECTORY?}/ca.crt" /usr/local/share/ca-certificates/; update-ca-certificates --fresh'
 ExecStart=/usr/bin/bash -c '/usr/bin/podman run\
 --rm --name docker_registry_proxy\
 --sdnotify=conmon\
 -p 127.0.0.1:3128:3128\
 -e ENABLE_MANIFEST_CACHE=true\
 --health-cmd="$${HEALTHCHECK}"\
 -v /podman-cache:/docker_mirror_cache\
 -v "$${CACHE_DIRECTORY?}":/ca\
 docker.io/rpardini/docker-registry-proxy:latest'
InaccessiblePaths=/etc/containers/containers.conf.d/docker-proxy-cache.conf
TemporaryFileSystem=/usr/local/share/ca-certificates
LogNamespace=ncatomic

[Install]
WantedBy=multi-user.target
RequiredBy=nca-caddy.service nextcloud-all-in-one.service nca-unlock.service