[Unit]
ConditionPathIsDirectory=|/usr/share/ncatomic/seed/portables
ConditionPathExists=|!/var/lib/portables.active
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c '[[ -d /var/lib/portables.active ]] || { \
 mkdir -p /var/lib/portables /var/lib/portables.available; \
 for ext in /usr/share/ncatomic/seed/portables/*.tar.*; \
  do [[ "$${ext}" == "/usr/share/ncatomic/seed/portables/*.tar.*" ]] || { \
  ext_name="$(basename "$${ext}")"; \
  extracted="$(tar -tf "$${ext}" | head -n1)"; \
  tar -xf "$${ext}" -C /var/lib/portables.available/; \
  ln -s "/var/lib/portables.available/$${extracted}" "/var/lib/portables/$${extracted%%_*}.raw"; \
 }; \
 done; \
}'

[Install]
WantedBy=ncatomic-sysinit.target
