[Unit]
ConditionPathIsDirectory=|/usr/share/embedded/svc-extensions
ConditionPathExists=|!/etc/svc-extensions
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c '[[ -d /etc/svc-extensions ]] || { \
 mkdir -p /etc/svc-extensions; \
 for ext in /usr/share/embedded/svc-extensions/*.raw; \
 do [[ "$${ext}" == "/usr/share/embedded/extensions/confexts/*" ]] || ln -s "$${ext}" "/etc/svc-extensions/$(basename "$${ext%_*}.raw")"; done; \
}'

[Install]
WantedBy=sysinit.target
