{
	admin unix//run/caddy/admin.sock {
		origins localhost 127.0.0.1
	}
	persist_config off
}

localhost:443, nextcloudatomic.local:443 {
	bind 0.0.0.0
	tls internal {
		on_demand
	}

	header Content-Type text/html
	reverse_proxy host.containers.internal:1080
}
