[Unit]
Description=Unlock Nextcloud Atomic from Web
PartOf=nca-unlock.service

[Service]
Type=simple

ImportCredential=ncatomic.aio.nc_password
ImportCredential=ncatomic.aio.nc_domain
ExecStartPre=mkdir -p /etc/ncatomic/nc-aio/credentials
#ExecStartPre=systemd-creds cat ncatomic.aio.nc_password
#ExecStartPre=systemd-creds cat ncatomic.aio.nc_domain
ExecStartPre=bash -e -o pipefail -c 'systemd-creds cat ncatomic.aio.nc_password | systemd-creds encrypt - /etc/ncatomic/nc-aio/credentials/nc_password.txt'
ExecStartPre=bash -e -o pipefail -c 'systemd-creds cat ncatomic.aio.nc_domain | systemd-creds encrypt - /etc/ncatomic/nc-aio/credentials/nc_domain.txt'
ExecStart=bash -c 'echo "Successfully unlocked from system credentials"'

