[Unit]
Description=Nextcloud Atomic Activation
After=nca-caddy.service nca-embedded-images.service docker.service
Requires=nca-caddy.service docker.service
Upholds=nextcloud-aio.service
StartLimitIntervalSec=30
StartLimitBurst=5
OnSuccess=nextcloud-aio.service

[Service]
Type=notify
NotifyAccess=all
Environment=CADDY_ADDRESS=unix:/run/caddy/admin.sock
ExecCondition=/bin/bash -c '! /usr/bin/test -f /etc/ncatomic/ncatomic.json'
ExecStart=/usr/bin/sdnotify-proxy /var/run/nca-activation.sock /usr/bin/docker run \
    --rm \
    -v /var/run/nca-activation.sock:/var/run/sdnotify.sock \
    -v /etc/ncatomic:/etc/ncatomic \
    -v /var/run/docker.sock:/var/run/docker.sock:ro \
    -v /run/caddy/admin.sock:/var/run/caddy-admin.sock:ro \
    -e NOTIFY_SOCKET=/var/run/sdnotify.sock \
    -e CADDY_ADMIN_SOCKET=/var/run/caddy-admin.sock \
    --network nca-core \
    --name nca-activation \
    --expose 8080 \
    -p 127.0.0.1:8080:8080 \
    docker.io/thecalcaholic/ncatomic-activation:embedded
RemainAfterExit=yes
TimeoutStartSec=infinity
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
